<footer id="footer" class="bg-light text-white d-flex-column text-center">
   
    <!--Footer Links-->
    <div class="container product text-left text-md-center">
      <div class="row">
        <!--First column-->
        <div class="col-md-3 mx-auto shfooter">
          <h5 class="my-2 font-weight-bold d-none d-md-block">IRIS Smart Technologies</h5>
          <div class="d-md-none title" data-target="#Product" data-toggle="collapse">
            <div class="mt-3 font-weight-bold">IRIS Smart Technologies
            </div>
          </div>
          <div class="list-unstyled collapse" id="Product">
            <!-- <h6 class="text-uppercase fw-bold">
            IRIS Smart Technologies
            </h6> -->
            <p class="cac">
              ISTL is registered as a limited liability company by CAC in Nigeria.
            </p>
          </div>
        </div>
        <!--/.First column-->
        
        <!--Second column-->
        <div class="col-md-3 mx-auto shfooter">
          <h5 class="my-2 font-weight-bold d-none d-md-block">IRIS Fast Links</h5>
          <div class="d-md-none title" data-target="#Company" data-toggle="collapse">
            <div class="mt-3 font-weight-bold">IRIS Fast Links
              <div class="float-right navbar-toggler">
                <fa-icon [icon]="faAngleDown"></fa-icon>
                <fa-icon [icon]="faAngleUp"></fa-icon>
              </div>
            </div>
          </div>
          <ul class="list-unstyled collapse" id="Company">
            <li><a target="_blank" href="" style="text-decoration: none;">Home</a></li>
            <li class="mb-1"><a target="_blank" href="" style="text-decoration: none;">Project</a></li>
            <li class="mb-1"><a target="_blank" href="" style="text-decoration: none;">Services</a></li>
            <li class="mb-1"><a target="_blank" href="" style="text-decoration: none;">Technology</a></li>
            <li class="mb-1" ><a target="_blank" href="" style="text-decoration: none;">About Us</a></li>
            
          </ul>
        </div>
        <!--/.Second column-->
        <hr class="clearfix w-100 d-md-none mb-0">
        <!--Third column-->
        <div class="col-md-3 mx-auto shfooter">
          <h5 class="my-2 font-weight-bold d-none d-md-block">Contact Us</h5>
          <div class="d-md-none title" data-target="#Resources" data-toggle="collapse">
            <div class="mt-3 font-weight-bold">Contact Us
              <div class="float-right navbar-toggler">
                <fa-icon [icon]="faAngleDown"></fa-icon>
                <fa-icon [icon]="faAngleUp"></fa-icon>
              </div>
            </div>
          </div>
          <ul class="list-unstyled collapse" id="Resources">
            <p class="fastLinks house"><fa-icon [icon]="faHome" class="me-3"></fa-icon>13 Usuma Road
              Off Gana </p>
              <p class="closer fastLinks add"> Road Maitama,
                Abuja
                </p>
                <p class="closer fastLinks country">Nigeria</p>
            <p class="fastLinks envelope">
              <fa-icon [icon]="faEnvelope" class="me-3"></fa-icon>
              info@irissmart.com
            </p>
            <p class="fastLinks"><fa-icon [icon]="faPhone " class="me-3"></fa-icon> + 234 (9) 4613243</p>
            <p class="fastLinks"><fa-icon [icon]="faPrint" class="me-3"></fa-icon> + 234 (9) 4613245</p>
          </ul>
        </div>


        
        <!--/.Third column-->
        <hr class="clearfix w-100 d-md-none mb-0">
        <!--Fourth column-->
        <div class="col-md-3 mx-auto shfooter">
          <h5 class="my-2 font-weight-bold d-none d-md-block">Contact Us</h5>
          <div class="d-md-none title" data-target="#Get-Help" data-toggle="collapse">
            <div class="mt-3 font-weight-bold">Contact Us
              <div class="float-right navbar-toggler">
                <fa-icon [icon]="faAngleDown"></fa-icon>
                <fa-icon [icon]="faAngleUp"></fa-icon>
              </div>
            </div>
          </div>
          <ul class="list-unstyled collapse" id="Get-Help">
            <p class="fastLinks house2" ><fa-icon [icon]="faHome" class="me-3"></fa-icon>177A Sinari Daranijo 
            </p>
              <p class="closest fastLinks add"> Victoria Island, Lagos
             </p>
             <p class="closest fastLinks country">Nigeria
             </p>
       
             
           <p class="fastLinks envelope">
            <fa-icon [icon]="faEnvelope" class="me-3"></fa-icon>
             info@irissmart.com
           </p>
           <p class="fastLinks" ><fa-icon [icon]="faPhone " class="me-3"></fa-icon> + 234 (1) 2705418</p>
           <p class="fastLinks"><fa-icon [icon]="faPrint" class="me-3"></fa-icon> + 234 (1) 2705417</p> 
          </ul>
        </div>
        <!--/.Fourth column-->
      </div>
    </div>
    <!--/.Footer Links-->
    <hr class="mb-0">
    <!--Copyright-->
    <div class="last-line py-4" style= "background-color: rgb(81, 24, 33)">
     <span class="copy"> © Copyright 2022
      <!-- <script>
        document.write(new Date().getFullYear())
      </script> <a target="_blank" href=" ">2022</a> -->
      </span>
       <!--Social buttons-->
       <span class="lawn">  IRIS Smart Technologies</span>
       <span class="use">Terms of Use</span><span class="policy">Privacy Policy</span><span class=" disclaimer">Disclaimer</span>
        
          <a target="_blank" href=" " class="sbtn btn-large mx-1" title="Facebook">
            <fa-icon [icon]="faFacebook"></fa-icon>
          </a>
        
          <a target="_blank" href=" " class="sbtn btn-large mx-1" title="Linkedin">
            <fa-icon [icon]="faLinkedinIn"></fa-icon>
          </a>
       
          <a target="_blank" href=" " class="sbtn btn-large mx-1" title="Twitter">
            <fa-icon [icon]="faTwitter"></fa-icon>
          </a>
        
       
          <a target="_blank" href=" " class="sbtn btn-large mx-1" title="Youtube">
            <fa-icon [icon]="faGoogle"></fa-icon>
          </a>
        
    
    </div>
    <!--/.Copyright-->
  </footer>

