<div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">     

    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
  
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <div class="overlay-image"  [ngStyle]="{backgroundImage:'url(assets/image/first.jpg)'}"></div>
        <div class="containernew">
          <h1 class="registered">IRIS Smart Technologies Limited (ISTL) <br> is the Leading ICT Company in Nigeria</h1>
          <p class="limited">IRIS Smart Technologies Limited (ISTL) among others, <br>is a major subsidiary of the flagship company, Image<br> Technologies Limited (Imagetech)</p>
          <a class="btn btn-success change" href="#" role="button"> Learn More</a>
        </div>
      </div>
      <div class="carousel-item " data-bs-interval="2000">
        <div class="overlay-image"  [ngStyle]="{backgroundImage:'url(assets/image/new9.jpg)'}"></div>
        <div class="containernewtwo">
          <h1 class="management">Management of Nigerias Passport<br> Control Infrastructure</h1>
          <p class="establish">We established and manage Nigeria's passport control<br> infrastructure at selected points of entry. </p>
          <a class="btn btn-success change" href="#" role="button"> Learn More</a>
        </div>
      </div>
      <div class="carousel-item second" data-bs-interval="2000">
        <div class="overlay-image"  [ngStyle]="{backgroundImage:'url(assets/image/centtral.jpg)'}"></div>
        <div class="containernewone">
          <h1 class= "areas">Technology Consulting Firm</h1>
            <p>A full-service software design,
              development, security and consulting firm<br> specializing in
              identity management, secure documents,<br> computer forensics to name a few. </p>
          <a class="btn btn-success more change" href="#" role="button" > Learn More</a>
      </div>
      </div>
      <div class="carousel-item   first" data-bs-interval="2000">
        <div class="overlay-image"  [ngStyle]="{backgroundImage:'url(assets/image/second.jpg)'}"></div>
        <div class="containernewthird">
          <h1 class="nigeria">  Nigeria's E-passport Solution</h1>
      <p class="responsible">We are globally responsible for the implementation of Nigeria's <br> E-Passport solution .</p>
      <a class="btn btn-success change" href="#" role="button"> Learn More</a>
        </div>
      </div>
  
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
    </div>

