<app-navbar></app-navbar>
<app-carousel></app-carousel>
<div class="container">
  <div class="harmonized">
    <h1 class="electronic">Welcome to IRIS Smart Technologies Limited<br></h1>
    <em class="italics">Solving Africa's complex problems with innovative technological solutions</em>
    <p class="wider">ISTL and the wider Image Technologies Limited group of companies are leaders in the industry<br> and have been working since 1991 on national and regional projects on a large scale.<br>
      ISTL and technology partners are responsible for an impressive range of "first", "largest" and "biggest" <br> in Nigeria, Africa and the World.</p>
    </div>
  </div>
  <div class="container">
    <app-description ></app-description> 
  </div>
  <app-swiper></app-swiper>
    <app-blog></app-blog>
   <div #footer><app-footer></app-footer></div>
      
