
  
<app-navbar></app-navbar>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <div class="title">
                <!-- <h1><fa-icon [icon]="faTasks" class="me-3 project"></fa-icon>ISTL Projects</h1> -->
                <h1 class="heading">IRIS Smart Technologies Limited</h1>
                <p class="sub">Solving Africa's complex problems with innovative technological solutions</p>
            </div>
          </div>
          <div class="col-md-3"></div>
      </div>
    
      <div class="row down">
          <div class="col-lg-4 pic">
            <img src="assets/image/vote.jpg"  data-aos="fade-up-right" data-aos-duration="1000" data-aos-easing="ease-in-sine" class="rounded-corners" alt="" width="600" height="500">
          </div>
          <div class="col-lg-6 limited">
               <h2 class="election" ><fa-icon [icon]="faVoteYea" class="me-3 project"></fa-icon>Election</h2>
                <p>Image Technologies Consortium Limited (ITCL) a member of the Iris Smart<br> Technologies Group,
                was contracted for a number of projects by INEC in the<br> run up to the 2003 Presidential Elections.
                We designed the EVR, built custom<br> software, commisioned and provided support.</p>
                <h3>Major Achievments</h3>
                <p class="bullet-text">
                    <fa-icon [icon]="faTags" class="me-3 tag"></fa-icon>
                    Design and Production of 80 million unique OMR Forms
                </p>
                <p class="bullet-text">
                    <fa-icon [icon]="faTags" class="me-3 tag"></fa-icon>
                    Established 37 State Processing Centers &amp; a Central Hub
                </p>
                <p class="bullet-text">
                    <fa-icon [icon]="faTags" class="me-3 tag"></fa-icon>
                    Verification of 45 million applications using AFIS
                </p>
                <p class="bullet-text">
                    <fa-icon [icon]="faTags" class="me-3 tag"></fa-icon>
                    Identification of 5 million duplicate records using AFIS
                </p>
                <p data-aos-offset="0" class="bullet-text">
                    <fa-icon [icon]="faTags" class="me-3 tag"></fa-icon>
                    Central Hub database consolidation - 12TB
                </p>
                <p class="bullet-text">
                    <fa-icon [icon]="faTags" class="me-3 tag"></fa-icon>
                    Largest population database in Africa
                </p>
                <p class="bullet-text">
                    <fa-icon [icon]="faTags" class="me-3 tag"></fa-icon>
                    First Electronic Voter Register for Nigeria
                </p>
            </div>
        </div>
      

    <div class="row second">
        <div class="col-lg-6 passport">
            <h2><fa-icon [icon]="faPassport" class="me-3 project"></fa-icon>E-passport</h2>
            <p>ISTL entered into a Public Private Partnership with the Federal Republic<br> of Nigeria  for
                upgrading the Nigeria travel document to an internationally<br> compliant passport in 2003.
                The project has been running successfully <br> since 2007 with over 9 million e-passports issued.</p>
             <h3 class="feature-title">Major Achievments</h3>
            <p class="bullet-text">
                <fa-icon [icon]="faTags" class="me-3 tag"></fa-icon>
                9 Million e-passports issued world wide
            </p>
            <p class="bullet-text">
                <fa-icon [icon]="faTags" class="me-3 tag"></fa-icon>
                Our Datacenter powers 39 Foreign &amp; 43 Local Branches
            </p>
            <p class="bullet-text">
                <fa-icon [icon]="faTags" class="me-3 tag"></fa-icon>
                Verification of 45 million applications using AFISS
            </p>
            <p class="bullet-text">
                <fa-icon [icon]="faTags" class="me-3 tag"></fa-icon>
                Most reliable Nigerian Identity Database in the country
            </p>
            <p class="bullet-text">
                <fa-icon [icon]="faTags" class="me-3 tag"></fa-icon>
                Online Identity verification system reducing fraud cases
            </p>
            <p class="bullet-text">
                <fa-icon [icon]="faTags" class="me-3 tag"></fa-icon>
                2nd Country to Implement e-passport next to Malaysia
            </p>
            
         </div>
      <div class="col-lg-4 data">
         <img src="assets/image/passport.jpg"  data-aos="fade-up-left" data-aos-duration="1000" data-aos-easing="ease-in-sine"class="rounded-corners" alt="" width="600" height="500">
      </div>
    </div>

    <div class="row insure">
        <div class="col-lg-4 design">
            <img src="assets/image/health.jpg"  data-aos="fade-up-right" data-aos-duration="1000" data-aos-easing="ease-in-sine" class="rounded-corners"  alt="" width="600" height="500">
        </div>
      <div class="col-lg-6 contract">
         <h2 class="election"><fa-icon [icon]="faHospital" class="me-3 project"></fa-icon>Health Insurance</h2>
          <span class="election">ISTL was contracted to design, develop and support the first Enrolee</span>
            <span class="election">Management System In 2005. This system was designed to manage HMO's, HCP's,</span>
            <span class="election" >Employers and Employer Branches and 1,2 Million Federal Government employess</span>
            <span class="election" >and their dependents</span>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
