
<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="title">
              <!-- <h1><fa-icon [icon]="faTasks" class="me-3 project"></fa-icon>ISTL Projects</h1> -->
              <h1 class="heading">IRIS Smart Technologies Limited</h1>
              <p class="sub">Solving Africa's complex problems with innovative technological solutions</p>
          </div>
        </div>
        <div class="col-md-3"></div>
    </div>
<div class="row down">
    <div class="col-lg-4 pic">
        <img src="assets/image/database.jpg" alt="" width="600" height="500" data-aos="fade-up-right" data-aos-duration="1000" data-aos-easing="ease-in-sine" class="rounded-corners">
    </div>
    <div class="col-lg-6 database" >
        <h5 class="dbms"><fa-icon [icon]="faDatabase" class="me-3 project"></fa-icon>Database Management</h5>
            <p  class="push" >A common thread that runs through all ISTL's major solutions</p>
            <p  class="push" >is Database Management. ISTL hosts secure Goverment Database</p>
            <p  class="push" >Our Data Centre consists of leverages on VSAT and fibre for</p>
            <p  class="push" >communication with local and foreign hubs world wide.</p>
    </div>
</div>

<div class="row second">
    <div class="col-lg-6 public">
        <h5 class="key"><fa-icon [icon]="faKeycdn" class="me-3 project"></fa-icon>Public Key Infrastructure (PKI)</h5>
            <p  class="push">ISTL implemented the Nigerian e-Passport PKI which conforms to ICAO standards.</p>
            <p  class="push">Our infrastructure includes a trusted CA for identity verification, the use of HSMs</p>
            <p  class="push">to generate, store, and handle key pairs, as well as participation in </p>
            <p  class="push">ICAO Public Key Directory.</p>
        
    </div>
    <div class="col-lg-4">
        <img src="assets/image/kpi.jpg" alt="" width="600" height="500" data-aos="fade-up-left" data-aos-duration="1000" data-aos-easing="ease-in-sine" class="rounded-corners">
    </div>
</div>
<div class="row down">
    <div class="col-lg-4 pic">
        <img src="assets/image/biometrics.jpg" alt="" width="600" height="500" data-aos="fade-up-right" data-aos-duration="1000" data-aos-easing="ease-in-sine" class="rounded-corners">
    </div>
    <div class="col-lg-6 facial">
        <h5 class="recognize"><fa-icon [icon]="faCameraRetro" class="me-3 project"></fa-icon>Facial Recognition</h5>
            <p  class="push" >The use of facial recognition systems is now becoming increasingly popular.</p>
            <p  class="push" >ISTL uses facial recognition for identification where fingerprints cannot</p>
            <p  class="push" >be proprly captured.</p>
       
    </div>
    </div>
</div>    
<div class="row second">
    <div class="col-lg-6 chips">
        <h5 class="chip"><fa-icon [icon]="faMicrochip" class="me-3 project"></fa-icon>chips</h5>
        <p  class="push" >As well as the use of Integrated Circuit Chips(ICC) for electronic passports,</p>
        <p  class="push" >ISTL initiated the implementation of a multi-purpose Identity Card in Nigeria.</p>
        <p  class="push">Our technology applies to identification, transportation, conducting financial</p>
        <p  class="push">transactions, border control and accessing medical services among others.</p>
        <p  class="push">The innovation for multi-application use on the one chip was pioneered</p>
        <p  class="push">in the early 2000's by a strategic partner of ISTL</p> 
    </div>
    <div class="col-lg-4">
        <img src="assets/image/chips.jpg" alt="" width="600" height="500" data-aos="fade-up-left" data-aos-duration="1000" data-aos-easing="ease-in-sine" class="rounded-corners">
    </div>
</div>
<app-footer></app-footer>
<!-- <app-footer></app-footer> -->
