<div class="container">
    <h2 style="text-align:center;padding-top:50px" class="partners">IRIS LATEST NEWS</h2>
    <p  style="text-align:center;" class="collection">Find our curated collection of news articles, videos and audio stories</p>
    <p style="text-align:center;" class="small">All the latest news, analysis, research, charts, data events and webinars.</p>
    <div class="containerdel">
        <div class="row">
        <div class="col-lg-4 col-md-12">
          <div class="hovereffect">
              <img class="img-respond" src="assets/image/pic1.jpg" alt="" width="400" height="250">
              <div class="overlay1">
                 <h2>IRIS Christmas Special</h2>
                 <a class="info">Avoiding passport issues;
                    Provide the correct information to avoid travel 
                    delays.<br><br> <span class="btn btn-success btn-sm">Read MORE</span> </a>
                 <a class="info" href="#"></a>
              </div>
          </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 mobilexmasspecial2">
            <div class="hovereffect">
                <img class="img-respond" src="assets/image/pic2.jpg" alt="" width="400" height="250">
                <div class="overlay1">
                  <h2>IRIS Christmas Special</h2>
                  <a class="info">Avoiding passport issues;
                    Provide the correct information to avoid travel 
                    delays.<br><br> <span class="btn btn-success btn-sm">Read MORE</span> </a>
                 <a class="info" href="#"></a>
                </div>
            </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 mobilexmasspecial3">
              <div class="hovereffect">
                  <img class="img-respond"src="assets/image/pic3.jpg" alt="" width="400" height="250">
                  <div class="overlay1">
                    <h2>IRIS Christmas Special</h2>
                    <a class="info">Avoiding passport issues;
                      Provide the correct information to avoid travel 
                      delays.<br><br> <span class="btn btn-success btn-sm">Read MORE</span> </a>
                   <a class="info" href="#"></a>
                  </div>
              </div>
              </div>
      </div>
    </div>
    </div>
    
    
