<div class ="container2">
    <div class="container">
       <div class="row">
           <div class="col-md-3 col-sm-12 project mobileclient">
            <div >
              <img class="lastly" src="assets/image/new5.jpg">
              
            </div>
            <p class="title" > We tailor bespoke solutions <br> around your needs. </p>
            <ul>
              <li>Central Hub database consolidation</li>
                <li>Electronic Passport</li>
                <li>EVR Design</li>
            </ul>
          
          <p style="text-align:center;"><a class="btn btn-success btn-sm operations " href="#" role="button" > Learn More</a></p>
       </div>
       <div class="col-md-1 col-sm-12 service"></div>
              <div class="col-md-3 project one mobiletailor">
                <div>
                  <img class="lastly" src="assets/image/central4.jpg">
                </div>
              <p class="title"> We know our clients and understand their goals. </p>
              <ul>
                  <li>Biometric Registration</li>
                  <li>Biometric Identification</li>
                  <li>Database Establishment<br> & Operation</li>
              </ul>
             <p style="text-align:center;" class="surpass" > <a class="btn btn-success btn-sm surpasses" href="#" role="button"> Learn More</a></p>
              </div>
       <div class="col-md-1 service"></div>
              <div class="col-md-3 col-sm-12 project one mobilesurpass">
               <div>
                <div>
                 <img class="lastly" src="assets/image/central7.jpg">
               </div>
               <p class="title"> we surpass the limit and give results</p>
               <ul>
                   <li>First Electronic Voter Register In Nigeria and Africa (2002)</li>
                   <li>First Electronic Passport in Nigeria and Africa (2005)</li>
                   
               </ul>
              <p style="text-align:center;" class="largest" ><a class="btn btn-success btn-sm large " href="#" role="button"> Learn More</a></p> 
              </div>
              </div>
              </div>

              <div class="container secondborder">
               <div class="row">

              <div class="col-md-3  col-sm-12 project mobileoffer">
               <div>
                 <!-- width="330" height="150 -->
                 <img class="lastly-move" src="assets/image/created3.jpg">
               </div>
           <p class="title"> ISTL uses modern ICT <br>technologies.</p>
           <ul>
               <li>A trusted CA for identity verification</li>
               <li>Use of HSMs to generate,<br> store, and handle key pairs.</li>
              
           </ul>
          <p style="text-align:center;" class="reputable" ><a class="btn btn-success btn-sm repute " href="#" role="button"> Learn More</a></p>
              </div>
              <div class="col-md-1 service"></div>

              <div class="col-md-3 col-sm-12 project one move mobilereputable">
               <div>
                 <img class="lastly-move" src="assets/image/centralnew1.jpg">
               </div>
           <p class="title">Unlimited major Achievement<br> in the technology Industry.</p>
           <ul>
               <li>9 Million e-passports issued<br> world wide</li>
               <li>Largest population database in <br>Africa</li> 
           </ul>
           <p style="text-align:center;" class="pool"><a class="btn btn-success btn-sm pooles" href="#" role="button"> Learn More</a></p>
              </div>
              <div class="col-md-1 "></div>
              <div class="col-md-3  col-sm-12 project move mobileoffer">
                <div>
                  <!-- width="330" height="150 -->
                  <img class="lastly-move" src="assets/image/central5.jpg">
                </div>
            <p class="title"> We offer high quality support<br> for mission critical systems. </p>
            <ul>
                <li>Facial Recognition</li>
                <li>Database Management System</li>
                <li>public Key Infrastructures</li>
                <li>Chips</li>
            </ul>
           <p style="text-align:center;" class="reputable" ><a class="btn btn-success btn-sm repute " href="#" role="button"> Learn More</a></p>
               </div>
           
          </div>
          </div>
          </div>


