/* You can add global styles to this file, and also import other style files */

.smart{
    font-family: 'Literata', serif;
}
html,body{
    overflow-x: hidden;
    font-family: 'Literata', serif;
  }